@import '~antd/dist/antd.css';

/* 标题字体 */
.ant-pro-top-nav-header-logo h1{
    font-size: 20px!important;
}

.ant-pro-base-menu-menu-item {
    font-size: 18px!important;
}

.ant-pro-base-menu-menu-item:hover {
    background-color: #1E90FF!important;
}

.ant-pro {
    height: auto;
}

/* 兼容IE边距 */
@supports not (margin-block: auto) {

    .ant-pro .ant-layout-header.ant-pro-layout-header {
        padding-left: 8px;
        padding-right: 8px;
    }

    .ant-pro-page-container-children-content  {
        margin: 8px 40px;
    }

    .ant-pro-card-body {
        padding: 24px 16px;
    }

    .ant-pro-card-body {
        padding: 24px 16px;
    }

    .ant-pro-table-list-toolbar-container {
        padding: 16px 0;
    }
}